header{
    background-color: aqua;
}

.logo{
    background-color: blue;
}

.menu{
    background-color: brown;
}

.accedi{
    background-color: blueviolet;
}

.paragrafo{
    background-color: red;
}