header{
    height: auto;
    padding: 10px;
}

main{
    background-color: bisque;
    height: auto;
}

.container-flex-head{
    display: flex; 
    justify-content: space-around;
}

.accedi{
    height: 30px;
    width: 80px;
}

.menu{
    height: 30px;
    width: 600px;
}

.logo{
    height: 30px;
    width: 140px;
}

.paragrafo{
    height: 300px;
    width: 900px;
}

.container-flex1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titolo{
    background-color: blue;
    width: 400px;
}

#paragrafo{
    background-color: brown;
    width: 500px;
    height: 40px;
}

.button{
    background-color: aqua;
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    gap: 30px;
}

.container-flex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-flex3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-flex4{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img{
    background-color: blue;
    width: 600px;
    height: 400px;
}

.descrizione{
    background-color: blueviolet;
    width: 600px;
    height: 400px;
}

.container-flex5{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.tecnologia{
    background-color: red;
    width: 600px;
    height: 30px;
}

.video{
    background-color: gold;
    width: 600px;
    height: 50px;
}

.img2{
    background-color: green;
    width: 700px;
    height: 300px;
}

.pronto{
    background-color: red;
    width: 400px;
    height: 30px;    
}

.scarica{
    background-color: aqua;
    display: flex;
    height: auto;
    width: auto;
    
}

.container-flex-footer{
    background-color: aqua;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.tend{
    width: 200px;
    height: 400px;
    background-color: brown;
}


